<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>CORE</title>
</head>

<body>
  <header>
    <div>
    <h1 id="tituloLayout"> 
      COmputación en REd - CORE 
      <form id="busqueda" method='get' action='/posts/search'>
        <div>
          <input type="text" name="search" size='22' value='' />
          <input type="submit" value="Buscar" />
        </div>
      </form>
    </h1>
    </div>

    <nav>
      <a href="/">Home</a>
      <a href="/Posts">Posts</a>
    </nav>
  </header>
       
  <section>
   <hr />
   <%- body %>
   <hr />
  </section>

  <footer>
    <p> Universidad Politécnica de Madrid. Curso 2012-2013. </p>
    <span id="counter">
      Visitas: <%= counter %>
    </span>
  </footer>
</body>
</html>
